/* Variables */
body {
  font: 100% "Roboto Slab", "Open Sans", sans-serif;
  color: #333;
  background-color: white;
  line-height: 1.5em;
  margin: 0;
}

button,
input {
  font-family: inherit;
}

a,
a:visited {
  text-decoration: none;
  color: #333;
}

.fill {
  max-width: 100% !important;
}

/* Buttons */
.btn {
  display: inline-block;
  background-color: #ebebeb;
  margin: 10px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  user-select: none;
  padding: 0.5rem 0.75rem;
  border: 1px solid transparent;
  border-radius: 2px;
  transition: all 0.2s ease;
  outline: none;
}

.btn:hover {
  background-color: #bebebe;
  transition: all 0.2s ease;
}

/* Input */
.form-input {
  width: 100%;
  height: 40px;
  padding: 0.2rem 0.5rem;
  font-size: 1.5rem;
  color: #495057;
  text-align: center;
  border: 1px #f1f1f1 solid;
  border-radius: 2px;
  margin: 5px 0;
}

.form-input::placeholder {
  color: #a0a4aa;
  font-size: 1rem;
}

/* Horizontal block */
.h-block {
  display: flex;
  flex-direction: row;
}

/* Vertical block */
.v-block {
  display: flex;
  flex-direction: column;
}

/* General pages */
.content-container {
  margin: 90px 0 0 0;
  padding-bottom: 100px;
}

/* For small screens */
@media (max-width: 620px) {
  .content-container {
    margin: 60px 0 0 0;
  }
}
/* Navbar */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: white;
  transition: 0.2s ease;
  z-index: 999;
}
.navbar .navbar-container {
  max-width: 800px;
  margin: auto;
  padding: 0 2rem;
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.2s ease;
}
.navbar .navbar-container .navbar-logo a,
.navbar .navbar-container .navbar-links a {
  font-size: 1.2rem;
  margin: 0 1rem;
  padding: 1rem 0.5rem;
  text-decoration: none;
  color: #333;
  transition: 0.2s ease;
}
.navbar .navbar-container .navbar-logo a:hover,
.navbar .navbar-container .navbar-links a:hover {
  color: #0e0e0e;
  transition: 0.2s ease;
}
.navbar .navbar-container .navbar-logo {
  display: flex;
  justify-content: flex-start;
  font-family: "Permanent Marker", "Roboto Slab";
}
.navbar .navbar-container .navbar-logo a {
  font-size: 2rem;
  color: #333;
  padding: 1rem 1rem;
}
.navbar .navbar-container .navbar-links {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar.scrolled {
  box-shadow: 1px 2px 15px rgba(0, 0, 0, 0.2);
  transition: 0.3s ease;
}
.navbar.scrolled .navbar-container {
  height: 60px;
  transition: 0.3s ease;
}

.navbar.disabled {
  transform: translate(0px, -60px);
  transition: 0.3s ease;
}

/* For small screens */
@media (max-width: 620px) {
  .navbar .navbar-container {
    height: 60px;
    padding: 0 1.5rem;
  }
  .navbar .navbar-container .navbar-logo a,
.navbar .navbar-container .navbar-links a {
    font-size: 0.8rem;
    margin: 0 0.3rem;
    padding: 0.7rem 0.3rem;
  }
  .navbar .navbar-container .navbar-logo a {
    font-size: 1.6rem;
  }
}
/* For small small screens */
@media (max-width: 380px) {
  .navbar .navbar-container .navbar-logo a {
    font-size: 1.2rem;
  }
}
/* Create Post */
.create-post {
  display: flex;
  flex-direction: column;
  padding: 40px;
}
.create-post .md-editor-wrapper {
  height: 600px;
}
.create-post .button-group {
  margin: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.create-post .button-group button {
  width: 90px;
  height: 40px;
}
.create-post .header-wrapper {
  display: flex;
  margin: 10px 0;
  flex-direction: column;
}
.create-post .header-wrapper .post-image {
  font-size: 12px;
}
.create-post .header-wrapper .h-block {
  width: 300px;
  margin: auto;
}
.create-post .header-wrapper .h-block .post-minutes {
  width: 30%;
  font-size: 16px;
}
.create-post .header-wrapper .h-block .post-tag-wrapper {
  width: 70%;
  margin-left: 20px;
}
.create-post .header-wrapper .h-block .post-tag-wrapper .post-tag-input {
  font-size: 16px;
}

/* Variables */
/* Post */
.post-list {
  max-width: 800px;
  margin: auto;
  padding: 40px 0 0 0;
}

.post-title {
  font-size: 1.8rem;
  line-height: 2.2rem;
  margin-bottom: 2px;
}

.post-image img {
  width: 100%;
}

.post-details {
  padding: 5px;
}
.post-details span {
  font-size: 14px;
  color: #a0a0a0;
}
.post-details .post-tag {
  display: flex;
  align-items: center;
  margin-right: 10px;
}
.post-details .post-tag span {
  margin-left: 5px;
  font-size: 14px;
}

.post-container,
.post-card {
  padding: 0 2rem;
  padding-bottom: 10px;
  border-bottom: 1px #c8c8c8 solid;
  margin-bottom: 40px;
}
.post-container .post-image,
.post-card .post-image {
  position: relative;
  height: 200px;
  overflow: hidden;
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.2);
}
.post-container .post-image img,
.post-card .post-image img {
  position: absolute;
  top: -9999px;
  left: -9999px;
  right: -9999px;
  bottom: -9999px;
  margin: auto;
}

.post-card .post-content {
  max-height: 300px;
  overflow: hidden;
}

.post-container .post-image {
  height: 400px;
}

@media (max-width: 620px) {
  .post-card .post-image {
    height: 100px;
  }

  .post-container .post-image {
    height: 200px;
  }
}
@media (max-width: 380px) {
  .post-title {
    font-size: 1.6rem;
  }
}
.post-date {
  font-size: 16px;
  text-align: end;
  color: #a0a0a0;
  margin-top: 10px;
}

.custom-html-style h1 {
  font-size: 26px;
  padding: 0px;
  border: none;
  font-weight: 700;
  margin: 22px 0;
  line-height: 1.7;
}

.custom-html-style h2 {
  font-size: 22px;
  padding: 0px 0;
  border: none;
  font-weight: 700;
  margin: 22px 0;
  line-height: 1.7;
}

.custom-html-style h3 {
  font-size: 18px;
  margin: 18px 0;
  padding: 0px 0;
  line-height: 1.7;
  border: none;
}

.custom-html-style p {
  font-size: 16px;
  line-height: 1.7;
  margin: 8px 0;
}

.custom-html-style strong {
  font-weight: 700;
}

.custom-html-style ol,
.custom-html-style ul {
  font-size: 16px;
  line-height: 28px;
  padding-left: 36px;
}

.custom-html-style li {
  margin-bottom: 8px;
  line-height: 1.7;
}

.custom-html-style hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eee;
}

.custom-html-style pre {
  display: block;
  background-color: #f5f5f5;
  padding: 20px;
  font-size: 16px;
  line-height: 28px;
  border-radius: 0;
  overflow-x: auto;
  word-break: break-word;
}

.custom-html-style code {
  background-color: #f5f5f5;
  border-radius: 0;
  padding: 3px 0;
  margin: 0;
  font-size: 16px;
  overflow-x: auto;
  word-break: normal;
}

.custom-html-style code:after,
.custom-html-style code:before {
  letter-spacing: 0;
}

.custom-html-style blockquote {
  position: relative;
  margin: 16px 0;
  padding: 5px 8px 5px 30px;
  background: none repeat scroll 0 0 rgba(102, 128, 153, 0.05);
  border: none;
  color: #333;
  border-left: 10px solid #D6DBDF;
}

.custom-html-style img,
.custom-html-style video {
  max-width: 30%;
}

.custom-html-style table {
  font-size: 16px;
  line-height: 1.7;
  max-width: 100%;
  overflow: auto;
  border: 1px solid #f6f6f6;
  border-collapse: collapse;
  border-spacing: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.custom-html-style table td,
.custom-html-style table th {
  word-break: break-all;
  word-wrap: break-word;
  white-space: normal;
}

.custom-html-style table tr {
  border: 1px solid #efefef;
}

.custom-html-style table tr:nth-child(2n) {
  background-color: transparent;
}

.custom-html-style table th {
  text-align: center;
  font-weight: 700;
  border: 1px solid #efefef;
  padding: 10px 6px;
  background-color: #f5f7fa;
  word-break: break-word;
}

.custom-html-style table td {
  border: 1px solid #efefef;
  text-align: left;
  padding: 10px 15px;
  word-break: break-word;
  min-width: 60px;
}

.blogger-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1rem 2rem;
  max-width: 800px;
  margin: auto;
}
.blogger-card .blogger-image img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.2);
}

/* For small screens */
@media (max-width: 620px) {
  .blogger-card .blogger-image img {
    width: 160px;
    height: 160px;
  }
  .blogger-card .blogger-about p {
    font-size: 14px;
  }
}
/* For small small screens */
@media (max-width: 380px) {
  .blogger-card .blogger-image img {
    width: 140px;
    height: 140px;
  }
  .blogger-card .blogger-about p {
    font-size: 14px;
  }
}
.card-container {
  background-color: #f1f1f1;
}

/*# sourceMappingURL=styles.css.map */
