@import "./styles/navbar.scss",
        "./styles/create-post.scss",
        "./styles/post.scss";

/** App **/
$font-stack: "Roboto Slab","Poppins","Alata", "Open Sans", sans-serif;
$primary-color: #333;
$background-light: white;

body {
  font: 100% $font-stack;
  color: $primary-color;
  background-color: $background-light;
  line-height: 1.5em;
}

button,
input {
    font-family: inherit;
}

a,
a:visited {
    text-decoration: none;
    color: $primary-color;
}

/* Buttons */
.btn {
    display: inline-block;
    background-color: #ebebeb;
    margin: 10px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    user-select: none;
    padding: 0.5rem 0.75rem;
    border: 1px solid transparent;
    border-radius: 2px;
    transition: all 0.2s ease;
    outline: none;
}

.btn:hover {
    background-color: #bebebe;
    transition: all 0.2s ease;
}

/* Input */
.form-input {
    width: 100%;
    height: 40px;
    padding: 0.2rem 0.5rem;
    font-size: 1.5rem;
    color: #495057;
    text-align: center;
    border: 1px #f1f1f1 solid;
    border-radius: 2px;
}

/* General pages */
.content-container {
    margin-top: 90px;
}
