/* Create Post */
.create-post {
    display: flex;
    flex-direction: column;
    padding: 40px;
    .md-editor-wrapper {
        height: 600px;
    }
    .button-group {
        margin: 20px;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .button-group button {
        width: 90px;
        height: 40px;
    }
    .header-wrapper {
        display: flex;
        margin: 10px 0;
        flex-direction: column;
        .post-image {
            font-size: 12px;
        }

        .h-block {
            width: 300px;
            margin: auto;
            .post-minutes {
                width: 30%;
                font-size: 16px;
            }
    
            .post-tag-wrapper {
                width: 70%;
                margin-left: 20px;
                .post-tag-input {
                    font-size: 16px;
                }
            }
        } 
    }
}