$color-light-theme: #333;
$color-hover-light-theme: rgb(14, 14, 14);
$background-light-theme: white;
$color-dark-theme: rgb(230, 230, 230);
$background-dark-theme: rgb(34, 34, 34);
$box-shadow-color:rgba(0, 0, 0, .2);

/* Navbar */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: $background-light-theme;
    transition: 0.2s ease;
    z-index: 999;
    .navbar-container {
        max-width: 800px;
        margin: auto;
        padding: 0 2rem;
        height: 90px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        transition: 0.2s ease;
        .navbar-logo a,
        .navbar-links a {
            font-size: 1.2rem;
            margin: 0 1rem;
            padding: 1rem .5rem;
            text-decoration: none;
            color: $color-light-theme;
            transition: 0.2s ease;
        }
        .navbar-logo a:hover,
        .navbar-links a:hover {
            color: $color-hover-light-theme;
            transition: 0.2s ease;
        }
        .navbar-logo {
            display: flex;
            justify-content: flex-start;
            font-family: "Permanent Marker", "Roboto Slab";
            a {
                font-size: 2rem;
                color: $color-light-theme;
                padding: 1rem 1rem;
            }
        }
        .navbar-links {
            height: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
}

.navbar.scrolled {
    box-shadow: 1px 2px 15px $box-shadow-color;
    transition: 0.3s ease;
    .navbar-container {
        height: 60px;
        transition: 0.3s ease;
    }
}

.navbar.disabled {
    transform: translate(0px, -60px);
    transition: 0.3s ease;
}

/* For small screens */
@media (max-width: 620px) {
    .navbar{
        .navbar-container {
            height: 60px;
            padding: 0 1.5rem;
            .navbar-logo a,
            .navbar-links a {
                font-size: 0.8rem;
                margin: 0 0.3rem;
                padding: 0.7rem .3rem;
            }

            .navbar-logo a {
                font-size: 1.6rem;
            }
        }
    } 
}

/* For small small screens */
@media (max-width: 380px) {
    .navbar{
        .navbar-container {
            .navbar-logo a {
                font-size: 1.2rem;
            }
        }
    } 
}

