/* Variables */
$border-bottom-color: rgb(200, 200, 200);
$post-date-color: rgb(160, 160, 160);

/* Post */
.post-list {
    max-width: 800px;
    margin: auto;
    padding: 40px 0 0 0;
}

.post-title {
    font-size: 1.8rem;
    line-height: 2.2rem;
}

.post-image {
    img {
        width: 100%;
    }
}

.post-container, .post-card {
    padding: 0 2rem;
    padding-bottom: 10px;
    border-bottom: 1px $border-bottom-color solid;
}

.post-container {
    .post-image {
        img {
            box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.2);
        }
    }
}

.post-card {
    margin-bottom: 40px;
    .post-content {
        max-height: 300px;
        overflow: hidden;
        .post-image {
            img {
                width: 100%;
            }
        }
    }

    .post-image {
        position: relative;
        height: 200px;
        overflow: hidden;
        box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.2);
        img {
            position: absolute;
            top: -9999px;
            left: -9999px;
            right: -9999px;
            bottom: -9999px;
            margin: auto;
        }
    }
}


.post-date {
    font-size: 16px;
    text-align: end;
    color: $post-date-color;
    margin-top: 10px;
}

.custom-html-style h1 {
    font-size: 26px;
    padding: 0px;
    border: none;
    font-weight: 700;
    margin: 22px 0;
    line-height: 1.7;
}

.custom-html-style h2 {
    font-size: 22px;
    padding: 0px 0;
    border: none;
    font-weight: 700;
    margin: 22px 0;
    line-height: 1.7;
}

.custom-html-style h3 {
    font-size: 18px;
    margin: 18px 0;
    padding: 0px 0;
    line-height: 1.7;
    border: none;
}

.custom-html-style p {
    font-size: 16px;
    line-height: 1.7;
    margin: 8px 0;
}

.custom-html-style strong {
    font-weight: 700;
}

.custom-html-style ol,
.custom-html-style ul {
    font-size: 16px;
    line-height: 28px;
    padding-left: 36px;
}

.custom-html-style li {
    margin-bottom: 8px;
    line-height: 1.7;
}

.custom-html-style hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eee;
}

.custom-html-style pre {
    display: block;
    background-color: #f5f5f5;
    padding: 20px;
    font-size: 16px;
    line-height: 28px;
    border-radius: 0;
    overflow-x: auto;
    word-break: break-word;
}

.custom-html-style code {
    background-color: #f5f5f5;
    border-radius: 0;
    padding: 3px 0;
    margin: 0;
    font-size: 16px;
    overflow-x: auto;
    word-break: normal;
}

.custom-html-style code:after,
.custom-html-style code:before {
    letter-spacing: 0;
}

.custom-html-style blockquote {
    position: relative;
    margin: 16px 0;
    padding: 5px 8px 5px 30px;
    background: none repeat scroll 0 0 rgba(102, 128, 153, 0.05);
    border: none;
    color: #333;
    border-left: 10px solid #D6DBDF;
}

.custom-html-style img,
.custom-html-style video {
    max-width: 30%;
}

.custom-html-style table {
    font-size: 16px;
    line-height: 1.7;
    max-width: 100%;
    overflow: auto;
    border: 1px solid #f6f6f6;
    border-collapse: collapse;
    border-spacing: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.custom-html-style table td,
.custom-html-style table th {
    word-break: break-all;
    word-wrap: break-word;
    white-space: normal;
}

.custom-html-style table tr {
    border: 1px solid #efefef;
}

.custom-html-style table tr:nth-child(2n) {
    background-color: transparent;
}

.custom-html-style table th {
    text-align: center;
    font-weight: 700;
    border: 1px solid #efefef;
    padding: 10px 6px;
    background-color: #f5f7fa;
    word-break: break-word;
}

.custom-html-style table td {
    border: 1px solid #efefef;
    text-align: left;
    padding: 10px 15px;
    word-break: break-word;
    min-width: 60px;
}